@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.links p{
  font-size: 16px;

}

.links span{
  font-size: 14px;
  color: #3939df;
  text-decoration: underline;
  cursor: pointer;
}

.links span:hover{
  color: #C45D52;
}
.help{
  margin-top: 50px;
  font-size: 14px;
  color: #3939df;
  text-decoration: underline;
}

.gap{
  margin-top: 30px;
  margin-bottom: 30px;

  background: rgb(255, 255, 255);
  color:rgb(255, 253, 253) ;
}
.work{
  font-weight: 600;
  font-size: 14px;
}
.shop{
  margin-top: 8px;
  color: #3939df;
  font-size: 14px;
  cursor: pointer;
}
.shop:hover{
  color: #C45D52;
}
.create-acc{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-weight: 500;
}
span{
  font-weight: 500;

}
#acc-btn{
  width: 340px ;
  height: 36px ;
  color: black;
  margin-bottom: 40px;
  background: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 9px;
  cursor: pointer;

}
#acc-btn:hover{
  background: rgb(245, 244, 244);
}